body {
	background-image: url(video/hack.gif);
	background-color: black;
	background-repeat: repeat-y;
	background-position: top;
	background-size: 100%;

	color:  rgb(240, 240, 240);

	font-family: 'montserratlight';

}

.title-unselectable {
	font-size: 210%;
	color:  rgb(255, 255, 255);

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
 	-moz-user-select: none;      /* Firefox */
 	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently*/
}

.title-unselectable:hover {
	font-size: 210%;

	color: #fff9e2;

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
 	-moz-user-select: none;      /* Firefox */
 	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none; 
}

.under-title-unselectable {
	font-size: 180%;

	margin-top: -1.4%;

	color:  #FF45BB;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
 	-moz-user-select: none;      /* Firefox */
 	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently*/
}

.unselectable {
	font-size: 210%;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.link-text {
	font-size: 150%;

	color:	rgb(255, 255, 255);

	padding: 10px;

	margin-top: -2%;

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.link-text:hover {
	font-size: 150%;

	color: rgb(255, 250, 202);


	padding: 10px;

	margin-top: -2%;

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.main-about-text {
	font-size: 200%;

	color:  rgb(255, 255, 255);

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.about-text {
	font-size: 170%;

	color:  rgb(160, 160, 160);

	margin-top: -1%;

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.clock-div {
	text-align: center;

	color:  #fffee9;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
 	-moz-user-select: none;      /* Firefox */
 	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently*/
}

@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}