body {
	background-image: url(img/bg1.png);
	background-repeat: no-repeat;
	background-position: top;
	background-color: black;
	color:  rgb(240, 240, 240);
	font-family: "Montserrat", Mont, Regular;
}

.title-unselectable {
	color:  rgb(240, 240, 240);
	font-family: "Montserrat", Mont, Regular;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
 	-moz-user-select: none;      /* Firefox */
 	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently*/
}

.under-title-unselectable {
	color:  rgb(200, 200, 200);
	font-family: "Montserrat", Mont, Regular;

	margin-top: -2%;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
 	-moz-user-select: none;      /* Firefox */
 	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently*/
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.link-text {
	color:	whitesmoke;
	font-family: "Montserrat", Mont, Regular;

	padding: 10px;

	margin-top: -2%;

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.main-about-text {
	color:  rgb(210, 210, 210);
	font-family: "Montserrat", Mont, Regular;

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.about-text {
	color:  rgb(210, 210, 210);
	font-family: "Montserrat", Mont, Regular;

	margin-top: -1.4%;

	text-decoration: none;

	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Mont-Regular.woff") format("woff");
}