body {
	margin: 0px;
	background-color: rgb(0, 2, 1);
	background-image: url("/img/hackBG.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

p {
	color: white;
	font-family: 'montserratlight';
	font-size: 550%;
}

@font-face {
    font-family: 'montserratlight';
    src: url('/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}